<section style='text-align: center; margin: 10px'>
	<!-- <a class='button' (click)='onBack()'>Go to Greeting Cards</a> -->
</section>
<section class='card-container'>
	<business-card *ngFor='let employee of _employees; let i=index ' 
	[dataIndex]='i'
	[employee]='employee'
	[isAddIcon]='false'
	(isBusinessCardDeleted)='deleteBusinessCard($event)'>
	</business-card>
	<business-card [employee]="employee" 
	[isAddIcon]='true' 
	(click)='onAdd()'>	
	</business-card>
</section>
<section *ngIf='isFormVisible'>
	<employee-form (isFormVisibleChanged)='cancelForm($event)' (isNewEmployeeAdded)='addBusinessCard($event)'></employee-form>
</section>