<section class='business-card-container' (mouseover)='setIconVisibility(true)' (mouseleave)='setIconVisibility(false)'>
	<aside class='control-panel' [style.visibility]='isControlPanelVisible? "visible": "hidden"'>
		<div class='fa fa-trash fa-2x delete-icon' (click)='deleteBusinessCard()' *ngIf='!isAddIcon'></div>	
	</aside>
 	<aside class='company-info' *ngIf='!isAddIcon'>
		<p class='name'>AGAMBO</p>
		<p class='slogan'>Elevate to greatness</p>
		<i class='fa fa-hand-peace-o fa-3x'></i>
	</aside>
	<section class='employee-info' *ngIf='!isAddIcon'>
		<span class='name'>{{employee.name}}</span>
		<span class='designation'>{{employee.designation}}</span>
		<section class='contact-details'>
				<span>{{employee.phone}}</span>
				<span>{{employee.email}}</span>
				<span>Agambo Offices, 123 Boulevard, Le Rouge, Blippy</span>
		</section>
	</section>
	<section class='add-background' *ngIf='isAddIcon'>
		<div class='fa fa-user-plus fa-5x add-icon'></div>
	</section>
</section>